# See https://www.dartlang.org/guides/libraries/private-files

# Files and directories created by pub
.dart_tool/
.packages
.d
build/
build\
build

# If you're building an application, you may want to check-in your pubspec.lock
pubspec.lock

# Directory created by dartdoc
# If you don't generate documentation locally you can remove this line.
doc/api/

# dotenv environment variables file
.env*

# Avoid committing generated Javascript files:


.flutter-plugins
.flutter-plugins-dependencies
lib/firebase_options.dart
build/app/intermediates/flutter/release/libs.jar
build/app/intermediates/incremental/packageRelease/tmp/release/dex-renamer-state.txt
build/app/intermediates/incremental/release-mergeJavaRes/merge-state
build/app/intermediates/metadata_library_dependencies_report/release/dependencies.pb
build/app/intermediates/sdk_dependency_data/release/sdkDependencyData.pb
build/app/kotlin/compileReleaseKotlin/build-history.bin
build/app/kotlin/compileReleaseKotlin/last-build.bin
build/app/outputs/apk/release/app-release.apk
build/app/outputs/flutter-apk/app-release.apk
build/app/outputs/flutter-apk/app.apk
build/app/outputs/flutter-apk/app.apk.sha1
build/app/outputs/mapping/release/seeds.txt
build/app/outputs/sdk-dependencies/release/sdkDependencies.txt
build/web/flutter_service_worker.js
