<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813286173539-eqdrltkl8hc6f1p91f6dn64iudj54tvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813286173539-eqdrltkl8hc6f1p91f6dn64iudj54tvj</string>
	<key>API_KEY</key>
	<string>AIzaSyCV_Lv5dShhsA-R0I6IX8TEVyapsdJwSjo</string>
	<key>GCM_SENDER_ID</key>
	<string>813286173539</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todotoday</string>
	<key>PROJECT_ID</key>
	<string>todotoday-e611e</string>
	<key>STORAGE_BUCKET</key>
	<string>todotoday-e611e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813286173539:ios:81dde0158daf3ecb1f8156</string>
</dict>
</plist>